.modal-footer .btn-group .btn+.btn {
    margin-left: -100px;
    top: -6px;
}

.switch{
    height: 38px;
    width: 170px;
    padding: 5px;
    
    background-color: #eaeaea;
    border-radius: 5px;
    border:1px solid #e6e6e6;
}    
.switch div{
    width:100%;
}
.switch div .btn{
    float:left;
    height: 26px;
    width: 50%; 
    margin-left:0px !important;
    margin-top: 0px; 
    padding: 0px;
}
.switch div .btn:first-child{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.switch div .btn:last-child{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.switch i{
    float:left;
    top:0px;
}

i.switched-on, i.switched-off {
    position:relative;
    top:-22px;
    left:180px;
    
    opacity:0px;
    font-size: 15px;
    font-weight:600;
    color:#333333;
}
i.switched-on, i.switched-off{
    animation-name: switch-state;
    animation-duration: 1s;
    opacity:1;
}

.switch div .btn:first-child.switched-on, .switch div .btn:last-child.switched-off{
    position:relative;
    top:3px;
    opacity:0.4;
}

/* Animations */
@keyframes switch-state {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
